html, body {
  overflow-x: hidden;
}

html {
  background-image: url(/img/frenchstucco/frenchstucco.png);
}

body {
  background-color: rgba(255, 193, 235, 0.25);
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin-right: 20px;
}

h1 {
  font-family: 'Lobster', cursive;
  padding: 10px;
}

h3 {
  font-family: 'Lobster', cursive;
}

form {
  padding: 20px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.btn {
  margin: 10px;
}

.flash {
  font-family: 'Lobster', cursive;
}

.tagline span {
  font-style: italic;
}

.fa-glass {
  display: inline;
  margin-right: 10px;
}

.tweet {
  display: inline;
}

.tagline {
  display: inline;
}

.anonymous {
  font-style: italic;
}

.submitted {
  font-weight: bold;
}

/* ---------------------------------------------------------- */
/*                                                            */
/* A media query that captures:                               */
/*                                                            */
/* - Retina iOS devices                                       */
/* - Retina Macs running Safari                               */
/* - High DPI Windows PCs running IE 8 and above              */
/* - Low DPI Windows PCs running IE, zoomed in                */
/* - Low DPI Windows PCs and Macs running Firefox, zoomed in  */
/* - Android hdpi devices and above                           */
/* - Android tvdpi devices, including Google Nexus 7          */
/* - Chrome running on high DPI Macs and PCs                  */
/* - Opera running on high DPI Macs, PCs and mobile devices   */
/*                                                            */
/* Please note that that this code assumes you'll swap a      */
/* 2× version of your images. If you'd like to supply         */
/* finer increments, other thresholds might be appropriate.   */
/*                                                            */
/* A test for CSS pixel densites can be found here:           */
/* http://bjango.com/articles/min-device-pixel-ratio/         */
/*                                                            */
/*                                  @marcedwards from @bjango */
/*                                                            */
/* ---------------------------------------------------------- */

@media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 13/10),
        only screen and (min-resolution: 120dpi)
        {
          html {
            background-image: url(/img/frenchstucco/frenchstucco_@2x.png);
          }
        }
