html, body {
  overflow-x: hidden;
}

html {
  background-image: url(/img/frenchstucco/frenchstucco.png);
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  html {
    background-image: url(/img/frenchstucco/frenchstucco_@2x.png);
  }
}

body {
  background-color: rgba(255, 193, 235, 0.25);
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin-right: 20px;
}

h1 {
  font-family: 'Lobster', cursive;
  padding: 10px;
}

h3 {
  font-family: 'Lobster', cursive;
}

form {
  padding: 20px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
}

.btn {
  margin: 10px;
}

.flash {
  font-family: 'Lobster', cursive;
}

.tagline span {
  font-style: italic;
}

.fa-glass {
  display: inline;
  margin-right: 10px;
}

.tweet {
  display: inline;
}

.tagline {
  display: inline;
}

.anonymous {
  font-style: italic;
}

.submitted {
  font-weight: bold;
}
