body {
  text-align: center;
  background-color: rgba(255, 193, 235, 0.25);
}

textarea {
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

.submitted {
  font-weight: bold;
}

.anonymous {
  font-style: italic;
}
