<div class="row row-centered">
  <div class="col-lg-5 col-md-6 col-sm-7 center">
    <h1>Frequently Asked Questions</h1>
  </div>
</div>

<div class="row row-centered">
  <div class="col-lg-5 col-md-6 col-sm-7 center">
    <ul>
      <li>
        <h3>What is Pat Kelly Rumors?</h3>
        <p>Pat Kelly Rumors is an open forum where information flows freely. You have a rumor to share with the world, and we give you the ability to do so. We trust that the community will not take this power lightly.</p>
      </li>
      <li>
        <h3>Who is Pat Kelly?</h3>
        <p>Pat Kelly is all of us, and Pat Kelly is none of us. Pat Kelly is the feeling inside of you that makes you wake up in the morning. Pat Kelly drives you to be a better person than you were yesterday.</p>
        <p>I am Pat Kelly. You are Pat Kelly. We are Pat Kelly.</p>
      </li>
      <li>
        <h3>Is the information posted on this site factual?</h3>
        <p>Rumors posted to the site have not been verified and should be assumed hearsay.</p>
        <p>That being said, we monitor and analyze all data posted, and have found that our rumors are <%= @percentage %>% more accurate than the next-leading rumors web community.</p>
      </li>
      <li>
        <h3>Are/were you associated with Pat Kelly Rumours?</h3>
        <p><b>No.</b> We are the original Pat Kelly Rumors site on the Internet. Our product is homegrown in the United States, and uses proper American English as such.</p>
      </li>
      <li>
        <h3>Were any of these questions even asked (nevermind frequently)?</h3>
        <p><b>No.</b> I made all of them up. Here at Pat Kelly Rumors, honesty and accuracy are of the utmost importance (unlike other rumor sites).</p>
      </li>
    </ul>
  </div>
</div>
