<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pat Kelly Rumors</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css
    ">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css
    ">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <div class="row row-centered">
          <div class="col-centered">
            <%= styled_flash %>
          </div>
        </div>
        <%= yield %>
        <br>
        <div class="row row-centered">
          <div class="col-centered">
            <div class="copyright">
              &copy; <%= Date.today.year %> - Pat Kelly Rumors
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
